<div class="modal-header">
  <div class="bootstrap-dialog-header">
    <div class="bootstrap-dialog-title">Terms of Use and Privacy Policy</div>
  </div>  
</div>
<div class="modal-body">
  <p>
  </p>
  <p>
    All contracts are <strong>WITHOUT ANY WARRANTY;</strong> without even
    the implied warranty of <strong>MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE</strong>.
  </p>
  <p>
    Use at your own risk.
  </p>
  <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="termsOfUse">
        Understood
      </label>
  </div>
  <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="privacyPolicy">
        Understood
      </label>
  </div>
  

</div>
<div class="modal-footer">
  <button type="button" ng-click="ok()" class="btn btn-default" id="terms-button" ng-disabled="!termsOfUse || !privacyPolicy">
    Continue
  </button>
</div>
